* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body {
    background: url("images/homeBg.png") #0d0d0e;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 60px;
}

.logo {
    margin: 0px 50px;
    height: 45px;
    width: 180px;
}

nav {
    /* border: 2px solid white; */
    margin-right: 10px;
    width: 600px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid yellow; */
    /* height: 50px; */
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    transition: all 1s;
    padding: 5px 20px;
    /* border-radius: 30px; */
}

nav ul li a {
    text-decoration: none;
    transition: all 1s;

}

nav ul li:hover {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}



nav ul li:hover a {
    color: rgb(43, 38, 38);
}

.active{
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.container {
    /* border: 2px solid red; */
    margin-top: 10px;
    display: flex;

}

.btns {
    /* border: 2px solid yellow; */
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.btn {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 50px;
    width: 300px;
    margin: 10px 0px;
    border-radius: 50px;
    transition: all 1s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-10px);
}

.btns a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.title {
    /* border: 2px solid white; */
    font-size: 69px;
    font-weight: 100;
    margin-top: 100px;
    margin-left: 50px;
}

.power:hover,
.driven:hover {
    color: red;
    transform: translateY(10px);
}

.car {
    /* border: 2px solid white; */
    /* width: 100px; */
    /* height: 80vh; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.car-img {
    height: 500px;
    width: 700px;
    transform: translate(0px);
    animation: car 4s ease-out;
}


@keyframes car {

    0% {
        transform: translate(900px);
    }

    100% {
        transform: translate(0px);
    }
}

.video {
    margin-top: 50px;
}

video {
    width: 100%;
}

footer {
    margin-top: 100px;
    height: 200px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 100px 100px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 80px;
    width: 360px;
    margin: 10px;
}

.footer-side {
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-side ul {
    /* border: 2px solid white; */
    display: flex;
    margin: 10px;
}

.footer-side ul li {
    list-style: none;
    margin: 10px;
}

.copyright {
    font-size: 30px;
}

/* model page css  */


.models-cont {
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 100px;
}

.model-img {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    /* margin-bottom: 50px; */
}

.model-img button{
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    border-radius: 50px;
    outline: 1px solid red;
}
.model-img button:active{
    background: rgb(124, 124, 110);
    outline: 2px solid rgb(124, 124, 110);
    outline-offset: 2px;
}

.model-img img {
    height: 350px;
    width: 500px;
    transition: all 1s ease;
    /* filter:invert(); */
    /* border: 2px solid white; */
}

.model-img img:hover{
    transform: translateY(-25px);
}

.model-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.model-title{
    font-size: 83px;
}

.model-desc{
    font-size: 25px;
    font-weight: lighter;
}

.rotate{
    transform: rotateY(180deg);
}

/* back video css */

.back-vid{
    position: absolute;
    z-index: -1;
    padding: 0px;
    margin: 0px;
    transform: translateY(-50px);
    margin-top: 30px;
}

.back-title{
    font-size: 150px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: transparent;
    font-weight: bolder;
}

.back-text-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid wheat; */
    height: 500px;
}


/* about page css */

.about-cont{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid white; */
    margin-top: 100px;
    flex-direction: column;
    margin-left:100px;
    margin-right:100px;
}



.about-desc p{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

.about-desc{
    /* border: 2px solid red; */
    margin-top: 200px;
}


/* contact page css */

.contact-form{
    margin-top: 100px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form form{
    width: 50vw;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 25px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    transform:skew(10deg,5deg);
    transition: all 1s ease;
}

.contact-form form:hover{
    transform: skew(0deg,0deg);
}

.contact-form form input,textarea{
    width: 400px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50px;
    background: transparent;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    /* outline-offset: 0px; */
    /* outline-color: rgb(255, 255, 131); */
    outline: none;
}
.contact-form form input:hover,textarea:hover{
    border: 2px solid rgb(255, 255, 131);
}

.contact-form form input[type="submit"]{
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 1s;
}
.contact-form form input[type="submit"]:hover{
    background: rgba(40, 39, 41, 0.25);
    border: 1px solid white;
}
